<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="设置"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="big.work.GroupItem1Activity"></activity>
        <activity android:name="big.work.FriendsItem2Activity" />
        <activity android:name="big.work.FriendsItem1Activity" />
        <activity android:name="big.work.MemberActivity" />
        <activity android:name="big.work.DemosticActivity" />
        <activity android:name="big.work.SearchActivity" />
        <activity android:name=".SetActivity" />
        <activity android:name="big.work.Main3Activity" />
        <activity android:name="big.work.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>